@CommonColor: #00408B;
@WarningColor: #D0021B;
@HighlighyColor: #F5A623;
@BgColor: #4A90E2;
@BgWarning: #FFF2DC;

.Title() {
    font-size: 24px;
    font-family: 'Roboto Medium', sans-serif;
    color: #000;
}

.Subtitele() {
    font-size: 20px;
    font-family: 'Roboto Medium', sans-serif;
    color: #000;
}

.Paragraph() {
    font-size: 16px;
    font-family: 'Roboto Regular', sans-serif;
    color: #000;
}

.Remark() {
    font-size: 16px;
    font-family: 'Roboto Regular', sans-serif;
    color: #757575;
}

.PlaceHolder() {
    font-size: 16px;
    font-family: 'Roboto Regular', sans-serif;
    color: #757575;
}

.Status() {
    font-size: 24px;
    font-family: 'Roboto Italic', sans-serif;
    color: #c8c8c8;
}

.BgColor() {
    background-color: @BgColor;
}


.BgWarmingColor() {
    background-color: @BgWarning;
}

.FontCommonColor() {
    color: @CommonColor;
}

.FontWaringColor() {
    color: @WarningColor;
}

.FontHighlightColor() {
    color: @HighlighyColor;
}



body {
    background-color: #e1e1e1;

    header {
        .BgColor();
        height: 50px;
        text-align: center;

        .tabs {
            .Title();
            .FontCommonColor();
            display: inline-block;
            width: 140px;
            height: 45px;
            cursor: pointer;

            &__activate {
                color: #ffffff;
                border-bottom: 5px solid @CommonColor;
            }

            &:hover {
                color: #ffffff;
            }
        }
    }

    .main {
        display: none;

        &__activate {
            display: block;
        }
    }
}
